<div *ngIf="!!words" class="container">
  <!-- <span *ngFor="let word of words; let i = index">
    {{i}}  - {{word[0]}}
  </span> -->
  <div class="header">
    <div class="ui form">
      <div class="fields">
        <div class="field min">
          <label>min</label>
          <input type="number" [(ngModel)]="min" />
        </div>
        <div class="field max">
          <label>max</label>
          <input type="number" [(ngModel)]="max" />
        </div>
        <div class="field">
          <label class="transparent">reset</label>
          <button class="ui basic button" (click)="reset()">
            reset
          </button>
        </div>
      </div>
      <div class="words-left">
        words left: {{ words.length }}
        <div>
          <div class="field">
            <label>always show translation</label>
            <input
              type="checkbox"
              (change)="alwaysShowTranslation = !alwaysShowTranslation"
            />
          </div>
          <div class="field">
            <label>only stars</label>
            <input
              type="checkbox"
              (change)="onShowOnlyStarsClicked()"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <h1
      class="ui centered header"
      *ngIf="!isLoading"
      (click)="showTranslation = true"
    >
      <span class="english-word"  *ngIf="words.length !== 0">
        {{ words[index] && words[index][0] }}
        <button class="ui basic icon button star" (click)="onStarClick(index, $event)">
          <i
            [ngClass]="{ outline: words[index][2] !== '1' }"
            class="star icon"
          ></i>
        </button>
      </span>
      <span
        class="translation"
        *ngIf="showTranslation || alwaysShowTranslation"
      >
        {{ words[index] && words[index][1] }}</span
      >
      <span class="no-words" *ngIf="words.length === 0">
        No words left! Push reset</span
      >
    </h1>
    <h2 class="ui centered header" class="loading" *ngIf="isLoading">
      loading...
    </h2>
  </div>
  <div class="footer">
    <div>
      <button
        *ngIf="words.length !== 0"
        class="ui primary big button"
        (click)="nextWord()"
      >
        next
      </button>
      <button
        *ngIf="words.length == 0"
        class="ui positive big button"
        (click)="reset()"
      >
        repeat
      </button>
    </div>
  </div>
</div>
