<div *ngIf="!!words" class="container">
  <div class="header">
    <div class="ui form">
      <div class="fields">
        <div class="field">
          <label>min</label>
          <input type="number" [(ngModel)]="min" />
        </div>
        <div class="field">
          <label>max</label>
          <input type="number" [(ngModel)]="max" />
        </div>
        <button class="ui basic button" (click)="reset()">
          reset
        </button>
      </div>
    </div>
  </div>
  <div class="content">
    <h1 class="ui centered header" (click)="showTranslation = true">
      {{ words[index] && words[index][0] }}
      <span *ngIf="showTranslation"> - {{ words[index] && words[index][1] }}</span>
    </h1>
  </div>
  <div class="footer">
    <div>
    <button class="ui primary button" (click)="nextWord()">
      next
    </button>

    </div>
  </div>
</div>
